---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import TagContainer from "../components/TagContainer.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>
    Published on: <time datetime={frontmatter.pubDate}
      >{frontmatter.pubDate}</time
    >
  </p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  <TagContainer tags={frontmatter.tags} />
  <slot />
</BaseLayout>

<style>
  img {
    width: 100%;
  }
</style>
